{% extends "components/base.html" %}

{% block title %}Content Page{% endblock %}

{% block content %}
    <h1>All Contents</h1>

    <!-- ลิงก์เพิ่มเนื้อหาใหม่อยู่ด้านบน -->
    <a href="{% url 'submit_content' %}">Add New Content</a>

    <!-- แสดงข้อมูลที่ดึงมาจากฐานข้อมูล -->
    {% if contents %}
        <ul>
            {% for content in contents reversed %}  <!-- ใช้ reversed เพื่อเรียงลำดับกลับ -->
                <li>
                    <h2>{{ content.title }}</h2>
                    <p class="text"><strong>Author:</strong> {{ content.author }}</p>
                    <p><strong>Date:</strong> {{ content.date }}</p>
                    <p class="text"><strong>Content:</strong> {{ content.content }}</p>
                    <p class="text"><strong>Caption:</strong> {{ content.caption }}</p>
                    {% if content.image %}
                        <img src="{{ content.image.url }}" alt="Image" class="image">
                    {% endif %}
                    <p class="text"><strong>Caption:</strong> {{ content.caption }}</p>
                    {% if content.youtube_url %}
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ content.youtube_url|slice:'-11:' }}" 
                             frameborder="0" allowfullscreen></iframe>
                       </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No content available.</p>
    {% endif %}
{% endblock %}
