<!-- sidebar.html -->
<nav id="sidebar" class="bg-pink-300 p-4 fixed inset-y-0 left-0 w-64 transform -translate-x-full md:translate-x-0 transition-transform duration-300 ease-in-out">
    <ul>
        <li class="py-2"><a href="#" class="text-white">หน้าหลัก</a></li>
        <li class="py-2"><a href="#" class="text-white">สังคมไทบ้าน</a></li>
        <li class="py-2"><a href="#" class="text-white">เศรษฐกิจไทบ้าน</a></li>
        <li class="py-2"><a href="#" class="text-white">การเมืองไทบ้าน</a></li>
        <li class="py-2"><a href="#" class="text-white">วัฒนธรรมไทบ้าน</a></li>
        <li class="py-2"><a href="#" class="text-white">ไทบ้านรีวิว</a></li>
    </ul>
</nav>
